<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= link_to job.title, job %> <span class="badge pull-right"><%= job.job_type %></span> </h2>
  </div>
  <div class="panel-body">
    <p><%= truncate(job.description) %></p>
    
  </div>
</div>