<div class="jumbotron">
  <h1>About this project</h1>
  <p class="lead">This community web application has been lovingly created by <strong>the coolest </strong>students at St John's Park High School.</p>

<img class="img-responsive img-thumbnail" src="http://www.fourth-millennium.net/reunion/Ross-School-8th-Grade-class-picture.JPG" alt="" title="">

</div>